<section>
  <div class="welcome-block">
    <img class="img-right" src="../../assets/images/welcome-right-image.jpg" alt="">
    <h1 class="text-left">Welcome to Bookish!</h1>
    <h2 class="text-left">The best Book Store in yor area!</h2>
  </div>
  <div class="welcome-block">
    <img class="img-left" src="../../assets/images/welcome-left-image.jpg" alt="">
    <h1 class="text-right">Variety of books!</h1>
    <h2 class="text-right">Choose anything you like!</h2>
  </div>
</section>

<h1 class="text-center text-primary-emphasis mt-4">Explore our best choices!</h1>
<app-carousel [books]="books"></app-carousel>
